body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.topnav li,
.topnav .navbar-brand
{
    font-size: 14px;
    font-weight: 600;
}

.navbar .selected {
    color: black !important;
}

.page-content {
    margin-top: 50px;
}

.jumbotron {
    background-image: url('/accounts/img/intro.jpg');
    background-size: 375px 100px;
    height: 100px;
    line-height: 100px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}

.jumbotron h1 {
    vertical-align: middle;
    font-size: 1.3em;
}

.bold {
    font-weight: bold;
}

.register-information {
    display: none;
    margin-bottom: 50px;
}

@media (min-width: 375px) {
    .jumbotron {
        background-size: 720px 192px;
        height: 192px;
        line-height: 192px;
    }

    .jumbotron h1 {
        display: inline-block;
        vertical-align: middle;
        font-size: 2em;
    }
}

@media (min-width: 768px) {
    .jumbotron {
        background-size: 720px 192px;
        height: 192px;
        line-height: 192px;
    }

    .jumbotron h1 {
        display: inline-block;
        font-size: 3em;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        background-size: 940px 251px;
        height: 251px;
        line-height: 251px;
    }

    .jumbotron h1 {
        display: inline-block;
        vertical-align: middle;
        font-size: 4em;
    }
}

@media (min-width: 1200px) {
    .jumbotron {
        background-size: 1140px 304px;
        height: 304px;
        line-height: 304px;
    }

    .jumbotron h1 {
        display: inline-block;
        vertical-align: middle;
        font-size: 5em;
    }
}

