<p><%= t.views.new.description %></p>
<form role="form">
  <div class="form-group">
    <label for="name"><%= t.views.new.name %>:</label>
    <input type="text" name="name" class="form-control" id="name">
  </div>

  <div class="form-group">
    <label for="pwd"><%= t.views.new.password %>:</label>
    <input type="password" class="form-control" id="pwd">
  </div>

</form>
