<p><%= t.views.register_email.description %></p>
<form action="/accounts" role="form" method="post">

  <%= form_field(@user, "email", "text") %>

  <div class="form-group">
    <input class="btn primary" type="submit" value="<%= t.views.register_email.submit %>">
  </div>

  <a href="https://lukiolaiskannettava.opinsys.fi/users/password/forgot"><%= t.views.register_email.forgot_password %></a>

</form>
