Source: puavo-accounts
Section: admin
Priority: extra
Maintainer: Jouni Korhonen <jouni.korhonen@opinsys.fi>
Build-Depends: debhelper (>= 8), ruby, ruby-dev, ruby-bundler, libssl-dev
Standards-Version: 0.0.1
Homepage: https://github.com/opinsys/puavo-accounts/

Package: puavo-accounts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, make, ruby, ruby-bundler (>= 1.3.5), puavo-client, fluentd (>= 0.10.40-3+opinsys1)
Description: puavo-accounts
 Application for creating new accounts to the Puavo

